/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  =  "/home/lucia_winkler/speleothem/mmseqs/2024-11-14_samplesheet_test.csv"
    db = "/home/maxime_borry/00_archgen/02_db/mmseqs/silva"
}
